<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'aplicacion/menu.html' %}
    <h1>Esto es una página con listas</h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h2>Lista con puntos</h2>   
    <h2>
        <ul>
            <li>Primer elemento de la lista</li>
            <li>Segundo elemento de la lista</li>
            <li>Tercer elemento de la lista</li>
        </ul>
    </h2>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h2>Lista con números</h2>  
    <h2>
        <ol>
            <li>Esto es la primera fila</li>
            <li>Esto es la segunda fila</li>
            <li>Esto es la tercera fila</li>
            <li>Esto es la cuarta fi¡la</li>
            <li>Fila final</li>
        </ol>
    </h2>
</body>
</html>