<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Películas</title>
    <style>
        p {
            color:brown;
            background-color: yellow;
        }
        h1 {
            color:aqua;
        }
        img {
            width: 200px;
            height: 300px;
        }
        .rojo {
            color: rgb(114, 7, 7);
        }
    </style>
    <!-- Esto es para javascript-->
</head>
<body>
    {% include 'aplicacion/menu.html' %}
    <h1>Esto es una película</h1>
    <img id="imagen" onmouseover="cambiar(this)" src="{% static 'images/image_51013278.jpeg'%}"/>
    <img id="imagen" onmouseover="cambiar(this)" src="{% static 'images/image_51013278.jpeg'%}"/>
    <img id="imagen" onmouseover="cambiar(this)" src="{% static 'images/image_51013278.jpeg'%}"/>
    <img src="{% static 'images/image_51013278.jpeg'%}"/>
    <p>asdfasdfasdf</p>
    <h1> asas asdsdaffsd </h1>
    <h1 class="rojo"> asas asdsdaffsd </h1>
    <script type="text/javascript" src="{% static 'js/pelis.js' %}"></script>
</body>
</html>