{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jugadores</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/table.css'%}">
</head>
<body>
    {% include 'informacion/menu.html' %}
    <h1>Jugadores</h1>
    <!-- Recorremos todos los números que recibimos -->
    <!-- Mostrar los valores sin más
    {% for valor in numeros %}
    <h2>Valor {{valor}}</h2>
    {% endfor %}
    <h1></h1>
    <h1></h1>
    -->
    <!-- Mostrar los valores en una lista
    {% for valor in numeros %}
    <ul>
        <li>Elemento {{valor}}</li>
    </ul>
    {% endfor %}
    <h1></h1>
    <h1></h1>
    -->
    <!-- Mostrar los valores en una tabla -->
    <table>
        <tr>
            <th>NOMBRE     </th>
            <th>DEMARCACIÓN</th>
            <th>CAMISETA   </th>
        </tr>
        {% for jugador in jugadores  %}
        <tr>
            <td>{{jugador.Nombre}}</td>
            <td>{{jugador.Demarcacion}}</td>
            <td>{{jugador.Numero}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>